body{
    background-color: lightblue;
}

#specialEffectsDiv{
    color: aliceblue;
}

#XtimesX{
    font-family: 'Noto Nastaliq Urdu', serif;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    padding-bottom: 50px;
}

.modal-header{
    height: 90px;
    font-size: bold;
    background-color: lightblue;
}

.imagin{
    height: 600px;
    width: 800px;
}
.modal-content{
    width: 820px;
}
#showmezesketch , #clearzecanvas, #doodleIns, #nalabel, #colabel, #zeTitle{
    font-family: 'Chilanka', cursive;
}
#divtitle{
    border-width: 12px groove black;
}