body{
    background-color: lightblue;
    color: aliceblue;
}

#specialEffectsDiv{
    color: aliceblue;
}

#XtimesX{
    font-family: 'Noto Nastaliq Urdu', serif;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    padding-bottom: 50px;
}

.modal-header{
    height: 90px;
    font-size: bold;
    background-color: lightblue;
}

.imagin{
    height: 600px;
    width: 800px;
}
.modal-content{
    width: 820px;
}
#showmezesketch , #clearzecanvas, #doodleIns, #nalabel, #colabel, #zeTitle{
    font-family: 'Chilanka', cursive;
}
#nalabel{
    margin-right:30px;
}
#divtitle{
    border-width: 12px groove black;
}
canvas 
  {
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px red;}
  to {box-shadow: 1px 1px 38px green;}

}

#timer12{
    float:left;
    margin-left: 30px;
}
#score12{
    float:right;
    margin-right: 140px;
}